<nav>
    <div class="nav-wrapper green">
        <a href="/" class="brand-logo center">Scrape The News: Tech Edition</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/celinazara/MongoDB" target="_blank">GitHub||Repo</a></li>
        </ul>
    </div>
</nav>